main{
    display: flex;
    align-items: center;
    
    height: 100%;

    >section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        background-image: url(https://static.vecteezy.com/system/resources/previews/004/968/002/non_2x/cute-abstract-modern-background-free-vector.jpg);
        background-position: center center;
        background-size: cover;

        min-width: 400px;
        height: 500px;
        border-radius: 10px;
        box-shadow: -3px 3px 5px #0005;         

        >.systemStyle{
            height: 50px;
            width: 100%;
            border-radius: 10px;
            background-color: var(--lgBlueColor);
            border: 2px solid var(--blueColor);
        }

        >.tamagotchiInteractions{
            display: flex;
            gap: 10px;
            overflow: hidden;
            padding: 0 10px;
        }

        >.tamagotchiButtons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 20px;
            width: fit-content;

            >:first-child{
                color: #0073ff;
            }
        
            >:nth-child(2){
                color: #d70e0e;
            }
        
            >:nth-child(3){
                color: #0e11d7;
            }
        
            >:last-child{
                color: #d7510e;
            }
        }
    }
}