footer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 90px;

    background-color: var(--creamColor);

    >p{
        margin-right: 10px;
        font-size: 1.1rem;
        cursor: default;
        font-family: "Roboto Mono", monospace;
    }

    >.socialMedia{
        display: flex;
        gap: 10px;
        font-size: 2rem;

        >:first-child:hover, :nth-child(2):hover, :last-child:hover{
            cursor: pointer;
            color: #d63e23;
            transform: translateY(-5px);
            transition: .5s all;
        }
    }
}